/*
const appBarTypeSpacing = { margin: "0 0.15em 0.2em 0.1em", display: "inline" }
  const appBarInline = { display: "inline", width:"unset!important" };
  const appBarTypeStyles = { ...appBarTypeSpacing, ...appBarInline };
  */

.appbar-logo-left-paren {
  margin: 0 0.1em 0.2em 0.1em;
  display: "inline";
}
.appbar-logo-dash {
  margin: 0 0.15em 0.2em 0.1em;
  display: "inline";
}
.appbar-logo-right-paren {
  margin: 0 0.1em 0.2em 0.15em;
  display: "inline";
}